.SideDrawer{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}
.Open{
transform: translateX(0);
}
.Close{
transform: translateX(-100%);
}
.Header{
    width:auto;
    background-color: #A29599;
    margin: 0;
    color: white;
    font-size: 20px;
}
.Div{
    padding: 10px 10px;
}
.Div p{
    text-align: left;
    font-size: 15px;
}
.Div p :hover{
    background-color: #A29599;
}
.Div Navlink{
    text-align: left;
    font-size: 15px;
    text-decoration: none;
}
.ParentCategory{
    font-size: 20px;
    padding: 7px;
    color: #563f46;
}
.Child{
    font-size: 15px;
    padding: 7px;
    color: #563f46;
}
.Child :hover{
    background-color: #A29599;
}