.Div{
    width: 300px;
    border: 1px solid #563f46;
    box-shadow: 0 2px 3px #A29599;
     padding: 10px 10px;
  margin-left:60px ;
  margin-bottom: 200px;
    box-sizing: border-box;
    display: inline-block;
    height: 300px;
    font-size: 30px;
}
.Div p{
    color: #563f46;
}
.Div Link{
    color: #563f46;
}
