<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.springbootcamp" level="INFO"/>
    <logger name="com.springbootcamp.services.LoginLogoutService" level="DEBUG"/>


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>


</configuration>
